@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ethnocentric';
  src: url('/fonts/ethnocentric.otf');
}

.ethnocentric {
  font-family: ethnocentric;
}

html,
body {
  background-color: #e8e8e8;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M7 10l5 5 5-5z"/></svg>')
    no-repeat right 0.75rem center;
  background-size: 1.5rem 1.5rem;
  padding-right: 2.5rem;
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
